<style>
    form    {
        width: 100%;
    }

    form label.active{
        color: #ffb101 !important;
    }

    form input:focus{
        border-bottom-color: #ffb101 !important;
        box-shadow: 0 1px 0 0 #ffb101 !important;
    }
</style>
{{ form_start(form) }}
<div class="row" style="margin-bottom: 0px">
    <div class="col s6">
        {{ form_row( form.lastname, {'label': 'Nom'}) }}
    </div>
    <div class="col s6">
        {{ form_row( form.firstname, {'label': 'Prénom'}) }}
    </div>
</div>
{{ form_row( form.address, {'label': 'Adresse'}) }}
<div class="row" style="margin-bottom: 0px">
    <div class="col s6">
        {{ form_row( form.phoneNumber, {'label': 'Numéro de téléphone'}) }}
    </div>
    <div class="col s6">
        {{ form_row( form.email, {
            'label': 'Adresse Email'
        })}}
    </div>
</div>

{{ form_row( form.password, {
    'label': 'Mot de passe'
    })
}}
<button class="btn waves-effect waves-light amber right" type="submit">
    S'inscrire
    <i class="material-icons right">send</i>
</button>
{{ form_end(form) }}
