{% extends 'base.html.twig' %}

{% block title %}House index{% endblock %}

{% block body %}
    <h1>House index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Address</th>
                <th>City</th>
                <th>Surface</th>
                <th>PriceByNight</th>
                <th>Active</th>
                <th>Capacity</th>
                <th>Type</th>
                <th>Nombre de visites</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for house in houses %}
            <tr>
                <td>{{ house.id }}</td>
                <td>{{ house.name }}</td>
                <td>{{ house.description }}</td>
                <td>{{ house.address }}</td>
                <td>{{ house.City }}</td>
                <td>{{ house.surface }}</td>
                <td>{{ house.priceByNight }}</td>
                <td>{{ house.active ? 'Yes' : 'No' }}</td>
                <td>{{ house.capacity }}</td>
                <td>{{ house.type }}</td>
                <td>{{ house.nbVisites }}</td>
                <td>
                    <a href="{{ path('house_show', {'id': house.id}) }}">show</a>
                    <a href="{{ path('house_edit', {'id': house.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('house_new') }}">Create new</a>
{% endblock %}
